@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-auto">
            <a href="#">
                <img src="~/Content/images/pharmacy-logo-by-Vexels.svg" width="500" height="500" class="m-5" />
            </a>
        </div>
    </div>
</div>