@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-auto">
            <a href="#">
                <img src="https://preview.redd.it/screaming-baby-made-of-ash-v0-7nskgql0k1w91.png?width=640&crop=smart&auto=webp&s=f19688ebe5ff73f708390cfe50a6454f54cec24a" width="500" height="500" class="img-fluid">
            </a>
        </div>
    </div>
</div>